[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/supabase/*"
  to = "https://wtmbscadypctstzhzmvr.supabase.co/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
